



<form class="d-inline" action="/cart" method="POST">
    <input type="hidden" name="productId" value="<%= pid %>">
    <button class="btn btn-outline-secondary" type="submit">Add To Cart</button>
</form>